trialLogger_exp/
udp-mex-receiver_exp/

# Ignore directories and tags file
NCCRig1/
NCCRig2/
sensorsLogger/
save/
tmp/

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Matlab specific
*.autosave
*.asv
*.xml
xpcnetboot.bat
*~
splrj
slrtnetboot.bat
*_rtw
*.mexw64
*.mexa64
*.mexmaci64

.DS_Store
